html,
body {
  height: 100%;
}

* {
  margin: 0;
 font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #ffd700;
  text-shadow:
    0 0 5px #ffd900b0,
    0 0 10px #ffb700b0,
    0 0 15px #ff8c00b0;
}

body {
  background-color: black;
}
.text-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100px;
}
.AV {
  padding-bottom: 50px;
}
.AV-H1 {
  margin-top: 40px;
  font-size: 38px;
}
.AV-P {
  font-size:16px;
  margin-left: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.kid {
  background-image: url("props/Gemini_Generated_Image_929faq929faq929f\ \(1\).png");
  background-size:contain;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* Animation */

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.loader-container {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.globe {
  border: 2px solid rgba(212, 175, 55, 0.4);
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

.node {
  width: 6px;
  height: 6px;
  background: #d4af37;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 10px #d4af37;
}

/* node positions */
.node:nth-child(1) {
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
}
.node:nth-child(2) {
  right: -3px;
  top: 50%;
  transform: translateY(-50%);
}
.node:nth-child(3) {
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}
.node:nth-child(4) {
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    width: 80px;
    height: 30px;
  }
  50% {
    transform: rotate(180deg);
    width: 30px;
    height: 80px;
  }
  100% {
    transform: rotate(360deg);
    width: 80px;
    height: 30px;
  }
}
